<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset">
            <form [formGroup]="singupForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                            id="projectname"
                            formControlName="projectName"
                            class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text"
                            id="username"
                            formControlName="email"
                            class="form-control">
                </div>
                <div class="form-group">
                    <label for="status">Project Status</label>
                    <select id="status"
                            formControlName="projectStatus"
                            class="form-control">
                        <option value="stable">Stable</option>
                        <option value="critical">Cirtical</option>
                        <option value="finished">Finished</option>
                        
                    </select>
                </div>
                
                <button type="submit" class="btn btn-default">Submit data</button>
            </form>
        </div>
    </div>
</div>
